ovideo#videoBienvenida {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(#{request.contextPath}/resources/images/videoBienvenida.jpg) no-repeat;
    background-size: cover; 
}

video { 
	display: block; 
}

/*
@media screen and (max-device-width: 800px) {
    html {
         background: url(#{request.contextPath}/resources/images/videoBienvenida.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
*/

#logoCompleto {
	width: 1000px;
	height: 480px;
	cursor: pointer;
}

#logoReducido {
	width: 400px;
	height: 494px;
	cursor: pointer;
	display: none;
}

#logoReducidoLogin {
	width: 55px;
	height: 68px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

@media (max-width: 1000px) and (min-width: 100px) {
  	#logoCompleto {
   		display:none;
  	}

  	#logoReducido {
		display:block;
		position: absolute;
		top: 0; bottom:0; left: 0; right:0;
		margin: auto;
  	}
}

.container-fluid {
  	height:100%;
  	display:table;
  	width: 100%;
  	padding: 0;
}

.row-fluid {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle;
}

.centering {
  	float:none;
  	margin:0 auto;
}

html, body {
	height:100%; 
	margin:0;
	padding:0
}

/****** LOGIN ******/

.loginmodal-container {
  	padding: 40px;
  	max-width: 350px;
  	width: 100% !important;
  	background-color: #F7F7F7;
  	margin: 0 auto;
  	border-radius: 10px;
  	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  	overflow: hidden;
}

.loginmodal-container h1 {
  	text-align: center;
  	font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  	width: 100%;
  	display: block;
  	margin-bottom: 30px;
  	margin-top: 20px;
  	position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  	height: 44px;
  	font-size: 16px;
  	width: 100%;
  	margin-bottom: 10px;
  	-webkit-appearance: none;
  	background: #fff;
  	border: 1px solid #d9d9d9;
  	border-top: 1px solid #c0c0c0;
  	/* border-radius: 2px; */
  	padding: 0 8px;
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  	border: 1px solid #b9b9b9;
  	border-top: 1px solid #a0a0a0;
  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  	text-align: center;
  	font-size: 14px;
  	font-weight: 700;
  	height: 36px;
  	padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  	border: 0px;
  	border-radius: 10px;
  	color: #fff;
  	text-shadow: 0 1px rgba(0,0,0,0.1); 
  	background-color: #79beac;
  	padding: 17px 0px;
  	font-size: 17px;
  	font-weight: 600;
  /*background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#79beac), to(#000000)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  	border: 0px;
  	text-shadow: 0 1px rgba(0,0,0,0.3);
  	background-color: #1e1d1c;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  	text-decoration: none;
  	color: #79beac;
  	font-weight: 400;
  	text-align: center;
  	display: inline-block;
  	transition: opacity ease 0.5s;
} 

.modal-footer {
	border-top: 1px solid #e1e8ed;
  	font-size: 17px;
  	text-align: center !important;
 	padding-top: 20px;
	padding-bottom: 0;
}