<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="SPI" version="2.5">
    <display-name>iesrey-daw</display-name>

    <!-- El archivo que se comporta como /home -->
    <welcome-file-list>
        <welcome-file>views/index/bienvenida.xhtml</welcome-file>
    </welcome-file-list>

    <!-- No tocar nunca bajo ningún concepto ni el sevlet ni el mapeo o dejará de funcionar todo -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletMusica</servlet-name>
        <servlet-class>app.servlet.ServletMusic</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servletMusica</servlet-name>
        <url-pattern>/servletMusica</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletMelomImages</servlet-name>
        <servlet-class>app.servlet.ServletMelomImages</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servletMelomImages</servlet-name>
        <url-pattern>/servletMelomImages</url-pattern>
    </servlet-mapping>

    <listener>
      <listener-class>
        com.sun.faces.config.ConfigureListener
      </listener-class>
    </listener>


    
</web-app>
